n8n-workflows/local/sightings-summary.json
{
  "name": "Sentio Sightings Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentio-sightings-summary-local",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "webhookId": "sentio-sightings-summary-local"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ad.id, ad.species, ad.animal_type, ad.confidence, ad.device_id, ad.timestamp, ad.location, ad.image_url FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $json.body.userId }}' AND ad.timestamp > NOW() - INTERVAL '24 hours' ORDER BY ad.timestamp DESC LIMIT 100",
        "options": {}
      },
      "id": "get-recent",
      "name": "Get Recent Sightings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ad.species, COUNT(*) as count FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $json.body.userId }}' AND ad.timestamp > NOW() - INTERVAL '7 days' GROUP BY ad.species ORDER BY count DESC LIMIT 20",
        "options": {}
      },
      "id": "get-species",
      "name": "Get Species Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXTRACT(HOUR FROM ad.timestamp) as hour, COUNT(*) as count FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $json.body.userId }}' AND ad.timestamp > NOW() - INTERVAL '7 days' GROUP BY hour ORDER BY hour",
        "options": {}
      },
      "id": "get-activity",
      "name": "Get Hourly Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all data from parallel queries\nlet sightings = [];\nlet species = [];\nlet activity = [];\n\ntry { sightings = $('Get Recent Sightings').all().map(i => i.json); } catch(e) { sightings = []; }\ntry { species = $('Get Species Count').all().map(i => i.json); } catch(e) { species = []; }\ntry { activity = $('Get Hourly Activity').all().map(i => i.json); } catch(e) { activity = []; }\n\nconst userId = $('Webhook').first().json.body?.userId || 'anonymous';\n\nreturn [{\n  json: {\n    recentSightings: sightings,\n    speciesSummary: species,\n    hourlyActivity: activity,\n    userId: userId,\n    hasData: sightings.length > 0 || species.length > 0 || activity.length > 0\n  }\n}];"
      },
      "id": "aggregate-data",
      "name": "Aggregate All Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "model": "models/gemma-3-27b-it",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 1024
        }
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Sentio AI, an analytical wildlife monitoring assistant for a garden camera system.\n\n## Raw Detection Data (Last 24h)\nThese are AI-detected objects from camera feeds. Note: The system detects ALL moving objects, not just wildlife:\n{{ JSON.stringify($json.recentSightings, null, 2) }}\n\n## Detection Counts by Species (Last 7 days)\n{{ JSON.stringify($json.speciesSummary, null, 2) }}\n\n## Hourly Detection Activity (Last 7 days)\n{{ JSON.stringify($json.hourlyActivity, null, 2) }}\n\n## Critical Analysis Instructions\n\n**Detection Interpretation**:\n- **'person' detections** = Humans (residents, visitors) - NOT wildlife. High counts are normal for an active garden.\n- **'cat' detections** = Likely domestic cats (pets or neighborhood cats) - common but not wild animals.\n- **'dog' detections** = Domestic dogs, not wildlife.\n- **'bird', 'fox', 'hedgehog', 'deer', 'rabbit', 'squirrel'** = Actual wildlife worth highlighting.\n\n**Confidence Score Interpretation**:\n- 0.90+ = Very reliable detection\n- 0.70-0.89 = Likely correct but may have some uncertainty\n- Below 0.70 = Treat with caution, possible misidentification\n\n**Required Analysis**:\n\n1. **🦊 Wildlife Summary** (focus here)\n   - Highlight only ACTUAL wildlife (exclude person, cat, dog)\n   - If no real wildlife detected, say so honestly\n   - Mention notable high-confidence wildlife detections\n\n2. **📊 Activity Patterns**\n   - Identify peak hours for wildlife (not human) activity\n   - Note any interesting timing patterns (dawn/dusk activity is typical for many species)\n\n3. **💡 Observations**\n   - Provide context: is this activity level normal for the season/time?\n   - Practical viewing recommendations based on actual wildlife patterns\n\n**Style**:\n- Be analytical and honest - don't oversell what's detected\n- Use emojis sparingly (section headers only)\n- If mostly humans/cats detected, acknowledge it's a quiet day for wildlife\n- Keep response to 2-3 concise paragraphs"
      },
      "id": "llm-chain",
      "name": "Generate Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysisText",
              "name": "analysisText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "userId",
              "name": "userId",
              "value": "={{ $('Aggregate All Data').first().json.userId || null }}",
              "type": "string"
            },
            {
              "id": "workflowType",
              "name": "workflowType",
              "value": "SIGHTINGS_SUMMARY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-payload",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_results (workflow_type, user_id, analysis_text, data_confidence, timestamp, last_updated) VALUES ('{{ $json.workflowType }}', {{ $json.userId ? \"'\" + $json.userId + \"'\" : 'NULL' }}, '{{ $json.analysisText.replace(/'/g, \"''\") }}', 0.85, NOW(), NOW()) RETURNING id",
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save Summary to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Sightings summary generated successfully",
              "type": "string"
            },
            {
              "id": "summaryId",
              "name": "summaryId",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {},
      "id": "wait-node",
      "name": "Wait for Queries",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Recent Sightings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Species Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Hourly Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Sightings": {
      "main": [
        [
          {
            "node": "Wait for Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Species Count": {
      "main": [
        [
          {
            "node": "Aggregate All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hourly Activity": {
      "main": [
        [
          {
            "node": "Aggregate All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Queries": {
      "main": [
        [
          {
            "node": "Aggregate All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Data": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Save Summary to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Summary to DB": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sentio"
    },
    {
      "name": "sightings"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}