n8n-workflows/production/ai-agent-groq.json
{
    "name": "Sentio AI Agent (Groq)",
    "nodes": [
        {
            "id": "webhook-trigger",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 2,
            "position": [
                0,
                200
            ],
            "webhookId": "sentio-ai-agent-groq",
            "parameters": {
                "httpMethod": "POST",
                "path": "sentio-ai-agent-groq",
                "responseMode": "lastNode",
                "options": {}
            }
        },
        {
            "id": "ai-agent",
            "name": "Sentio AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 2.2,
            "position": [
                300,
                200
            ],
            "parameters": {
                "promptType": "define",
                "text": "=User ID: {{ $json.body.userId }}\nUsername: {{ $json.body.username || 'there' }}\n\nUser Question: {{ $json.body.query }}",
                "options": {
                    "systemMessage": "You are Sentio AI 🦊✨, a friendly wildlife monitoring assistant!\n\nYou help users understand their wildlife cameras and weather sensors. Use the database tools to query their data.\n\nGREETING RULES:\n- On the FIRST message of a conversation, greet the user warmly by their username (e.g., 'Hello [Username]! 👋')\n- On follow-up messages, skip the greeting entirely and answer directly\n- You can tell it's a follow-up if there's conversation history\n\nRESPONSE STYLE:\n- Use the tools to get real data before answering\n- Never mention 'tool calls', 'queries', or 'database'\n- Present data naturally with emojis 🐦🌡️\n- Be concise but helpful\n- Format lists nicely with bullet points"
                }
            }
        },
        {
            "id": "groq-model",
            "name": "Groq Chat Model",
            "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
            "typeVersion": 1,
            "position": [
                0,
                400
            ],
            "parameters": {
                "model": "meta-llama/llama-4-scout-17b-16e-instruct",
                "options": {
                    "temperature": 0.7
                }
            },
            "credentials": {
                "groqApi": {
                    "id": "GROQ_CREDENTIAL_ID",
                    "name": "Groq API"
                }
            }
        },
        {
            "id": "memory",
            "name": "Conversation Memory",
            "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
            "typeVersion": 1.3,
            "position": [
                150,
                400
            ],
            "parameters": {
                "sessionIdType": "customKey",
                "sessionKey": "={{ $('Webhook').first().json.body.userId || 'anonymous' }}",
                "contextWindowLength": 5
            }
        },
        {
            "id": "tool-sightings",
            "name": "Query Recent Sightings",
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.5,
            "position": [
                450,
                350
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT ad.species, ad.animal_type, ad.confidence, ad.timestamp FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $fromAI(\"userId\", \"The user ID from the conversation\") }}' AND ad.timestamp > NOW() - INTERVAL '24 hours' ORDER BY ad.timestamp DESC LIMIT 20",
                "descriptionType": "manual",
                "toolDescription": "Get recent animal/wildlife sightings. Returns species, confidence scores, timestamps. Use when users ask about recent detections or what animals were seen."
            },
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "Sentio PostgreSQL"
                }
            }
        },
        {
            "id": "tool-species",
            "name": "Query Species Summary",
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.5,
            "position": [
                600,
                350
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT ad.species, COUNT(*) as count FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $fromAI(\"userId\", \"The user ID\") }}' AND ad.timestamp > NOW() - INTERVAL '7 days' GROUP BY ad.species ORDER BY count DESC",
                "descriptionType": "manual",
                "toolDescription": "Get species diversity counts. Use when users ask about which species are most common."
            },
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "Sentio PostgreSQL"
                }
            }
        },
        {
            "id": "tool-weather",
            "name": "Query Weather Data",
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.5,
            "position": [
                450,
                500
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT rw.temperature, rw.humidity, rw.pressure, rw.lux, rw.timestamp FROM raspi_weather_data rw JOIN devices d ON rw.device_id = d.id WHERE d.owner_id = '{{ $fromAI(\"userId\", \"The user ID\") }}' AND rw.timestamp > NOW() - INTERVAL '24 hours' ORDER BY rw.timestamp DESC LIMIT 20",
                "descriptionType": "manual",
                "toolDescription": "Get recent weather sensor readings. Use when users ask about current weather conditions."
            },
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "Sentio PostgreSQL"
                }
            }
        },
        {
            "id": "tool-weather-stats",
            "name": "Query Weather Stats",
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.5,
            "position": [
                600,
                500
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT AVG(rw.temperature) as avg_temp, MIN(rw.temperature) as min_temp, MAX(rw.temperature) as max_temp, AVG(rw.humidity) as avg_humidity, MIN(rw.humidity) as min_humidity, MAX(rw.humidity) as max_humidity, AVG(rw.pressure) as avg_pressure FROM raspi_weather_data rw JOIN devices d ON rw.device_id = d.id WHERE d.owner_id = '{{ $fromAI(\"userId\", \"The user ID\") }}' AND rw.timestamp > NOW() - INTERVAL '24 hours'",
                "descriptionType": "manual",
                "toolDescription": "Get weather SENSOR statistics with averages and min/max from indoor sensors. Use for actual measured conditions."
            },
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "Sentio PostgreSQL"
                }
            }
        },
        {
            "id": "tool-weather-forecast",
            "name": "Query Weather Forecast",
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.5,
            "position": [
                750,
                500
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT forecast_date, MIN(temperature) as low_temp, MAX(temperature) as high_temp, AVG(temperature) as avg_temp, MAX(description) as conditions FROM weather_forecasts wf JOIN devices d ON wf.device_id = d.id WHERE d.owner_id = '{{ $fromAI(\"userId\", \"The user ID\") }}' AND forecast_date >= CURRENT_DATE GROUP BY forecast_date ORDER BY forecast_date LIMIT 7",
                "descriptionType": "manual",
                "toolDescription": "Get weather FORECAST with predicted high/low temperatures for upcoming days. Use when users ask about forecast, predictions, or upcoming weather."
            },
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "Sentio PostgreSQL"
                }
            }
        },
        {
            "id": "tool-devices",
            "name": "Query User Devices",
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.5,
            "position": [
                450,
                650
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT d.id, d.name, d.latitude, d.longitude, d.last_seen, d.active FROM devices d WHERE d.owner_id = '{{ $fromAI(\"userId\", \"The user ID\") }}' ORDER BY d.last_seen DESC",
                "descriptionType": "manual",
                "toolDescription": "Get user's devices with names, locations (GPS), and status. Use when users ask about their devices, cameras, sensors, or locations."
            },
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "Sentio PostgreSQL"
                }
            }
        },
        {
            "id": "tool-alerts",
            "name": "Query Weather Alerts",
            "type": "n8n-nodes-base.postgresTool",
            "typeVersion": 2.5,
            "position": [
                600,
                650
            ],
            "parameters": {
                "operation": "executeQuery",
                "query": "=SELECT wa.event, wa.severity, wa.description, wa.start_time, wa.end_time FROM weather_alerts wa JOIN devices d ON wa.device_id = d.id WHERE d.owner_id = '{{ $fromAI(\"userId\", \"The user ID\") }}' AND wa.end_time > NOW() ORDER BY wa.severity DESC, wa.start_time DESC LIMIT 10",
                "descriptionType": "manual",
                "toolDescription": "Get active weather alerts and warnings (severe weather, storms, etc). Use when users ask about alerts, warnings, or dangerous weather."
            },
            "credentials": {
                "postgres": {
                    "id": "POSTGRES_CREDENTIAL_ID",
                    "name": "Sentio PostgreSQL"
                }
            }
        },
        {
            "id": "format-response",
            "name": "Format Response",
            "type": "n8n-nodes-base.set",
            "typeVersion": 3.4,
            "position": [
                520,
                200
            ],
            "parameters": {
                "assignments": {
                    "assignments": [
                        {
                            "id": "response",
                            "name": "response",
                            "value": "={{ $json.output }}",
                            "type": "string"
                        },
                        {
                            "id": "success",
                            "name": "success",
                            "value": true,
                            "type": "boolean"
                        }
                    ]
                },
                "options": {}
            }
        }
    ],
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Groq Chat Model": {
            "ai_languageModel": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_languageModel",
                        "index": 0
                    }
                ]
            ]
        },
        "Conversation Memory": {
            "ai_memory": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_memory",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Recent Sightings": {
            "ai_tool": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Species Summary": {
            "ai_tool": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Weather Data": {
            "ai_tool": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Weather Stats": {
            "ai_tool": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Weather Forecast": {
            "ai_tool": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Query User Devices": {
            "ai_tool": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Weather Alerts": {
            "ai_tool": [
                [
                    {
                        "node": "Sentio AI Agent",
                        "type": "ai_tool",
                        "index": 0
                    }
                ]
            ]
        },
        "Sentio AI Agent": {
            "main": [
                [
                    {
                        "node": "Format Response",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [
        {
            "name": "sentio"
        },
        {
            "name": "agent"
        },
        {
            "name": "groq"
        }
    ],
    "triggerCount": 1,
    "pinData": {}
}