n8n-workflows/production/sightings-summary.json
{
  "name": "Sentio Sightings Summary",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sentio-sightings-summary",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        200
      ],
      "webhookId": "sentio-sightings-summary"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ad.id, ad.species, ad.animal_type, ad.confidence, ad.device_id, ad.timestamp, ad.location, ad.image_url FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $json.body.userId }}' AND ad.timestamp > NOW() - INTERVAL '24 hours' ORDER BY ad.timestamp DESC LIMIT 100",
        "options": {}
      },
      "id": "get-recent",
      "name": "Get Recent Sightings",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        0
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT ad.species, COUNT(*) as count FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $json.body.userId }}' AND ad.timestamp > NOW() - INTERVAL '7 days' GROUP BY ad.species ORDER BY count DESC LIMIT 20",
        "options": {}
      },
      "id": "get-species",
      "name": "Get Species Count",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXTRACT(HOUR FROM ad.timestamp) as hour, COUNT(*) as count FROM animal_detections ad JOIN devices d ON ad.device_id = d.id WHERE d.owner_id = '{{ $json.body.userId }}' AND ad.timestamp > NOW() - INTERVAL '7 days' GROUP BY hour ORDER BY hour",
        "options": {}
      },
      "id": "get-activity",
      "name": "Get Hourly Activity",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        250,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Aggregate all data from parallel queries\nlet sightings = [];\nlet species = [];\nlet activity = [];\n\ntry { sightings = $('Get Recent Sightings').all().map(i => i.json); } catch(e) { sightings = []; }\ntry { species = $('Get Species Count').all().map(i => i.json); } catch(e) { species = []; }\ntry { activity = $('Get Hourly Activity').all().map(i => i.json); } catch(e) { activity = []; }\n\nconst userId = $('Webhook').first().json.body?.userId || 'anonymous';\n\nreturn [{\n  json: {\n    recentSightings: sightings,\n    speciesSummary: species,\n    hourlyActivity: activity,\n    userId: userId,\n    hasData: sightings.length > 0 || species.length > 0 || activity.length > 0\n  }\n}];"
      },
      "id": "aggregate-data",
      "name": "Aggregate All Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        200
      ]
    },
    {
      "parameters": {
        "model": "models/gemma-3-27b-it",
        "options": {
          "temperature": 0.7,
          "maxOutputTokens": 1024
        }
      },
      "id": "gemini-model",
      "name": "Gemini Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are Sentio AI 🦊, a friendly wildlife monitoring assistant!\n\n## Recent Wildlife Detections (Last 24h)\n{{ JSON.stringify($json.recentSightings, null, 2) }}\n\n## Species Diversity (Last 7 days)\n{{ JSON.stringify($json.speciesSummary, null, 2) }}\n\n## Hourly Activity Patterns (Last 7 days)\n{{ JSON.stringify($json.hourlyActivity, null, 2) }}\n\n## Instructions\nStart with a warm greeting! 👋 Create an exciting wildlife summary:\n\n1. 🐦 **Recent Activity**: Highlight today's detections\n2. 🌿 **Species Spotlight**: Celebrate the diversity\n3. ⏰ **Best Viewing Times**: Peak activity hours\n4. 💡 **Pro Tips**: Fun observation recommendations\n\nUse emojis, be enthusiastic, keep it concise (2-3 paragraphs)."
      },
      "id": "llm-chain",
      "name": "Generate Summary",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "analysisText",
              "name": "analysisText",
              "value": "={{ $json.text }}",
              "type": "string"
            },
            {
              "id": "userId",
              "name": "userId",
              "value": "={{ $('Aggregate All Data').first().json.userId || null }}",
              "type": "string"
            },
            {
              "id": "workflowType",
              "name": "workflowType",
              "value": "SIGHTINGS_SUMMARY",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-payload",
      "name": "Prepare Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=INSERT INTO workflow_results (workflow_type, user_id, analysis_text, data_confidence, timestamp, last_updated) VALUES ('{{ $json.workflowType }}', {{ $json.userId ? \"'\" + $json.userId + \"'\" : 'NULL' }}, '{{ $json.analysisText.replace(/'/g, \"''\") }}', 0.85, NOW(), NOW()) RETURNING id",
        "options": {}
      },
      "id": "save-to-db",
      "name": "Save Summary to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            },
            {
              "id": "message",
              "name": "message",
              "value": "Sightings summary generated successfully",
              "type": "string"
            },
            {
              "id": "summaryId",
              "name": "summaryId",
              "value": "={{ $json.id }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "Format Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1500,
        200
      ]
    },
    {
      "parameters": {},
      "id": "wait-node",
      "name": "Wait for Queries",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        500,
        0
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Recent Sightings",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Species Count",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Hourly Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Recent Sightings": {
      "main": [
        [
          {
            "node": "Wait for Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Species Count": {
      "main": [
        [
          {
            "node": "Aggregate All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hourly Activity": {
      "main": [
        [
          {
            "node": "Aggregate All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait for Queries": {
      "main": [
        [
          {
            "node": "Aggregate All Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Data": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Payload": {
      "main": [
        [
          {
            "node": "Save Summary to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Summary to DB": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "sentio"
    },
    {
      "name": "sightings"
    }
  ],
  "triggerCount": 1,
  "pinData": {}
}